main {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 25px;
  border: 1px solid dimgray;
  border-radius: 15px;
  width: 384px;
  height: 600px;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-family: "Pixelify Sans", cursive;
  font-size: 32px;
  text-align: center;
}

h2 {
  font-family: "Pixelify Sans", cursive;
  font-size: 24px;
  text-align: center;
}

p {
  font-family: "Pixelify Sans", cursive;
  font-size: 16px;
  text-align: center;
}

.images-buffer {
  display: none;
}

.game-ui {
  padding: 25px;
  border: 1px solid dimgray;
  border-radius: 15px;
}

.game-ui__avatar {
  background: url("/assets/heroes/portraits.png");
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}
